* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*Banner 1*/

.banner1 {
    width: 100%;
    margin: auto;
    color: white;
}

.banner1 {
    height: 600px;
    background-image: url(../img/image/pexels-pixabay-35857.jpg);
    background-position: center;
    background-size: cover;
}

.banner1>.bank {
    width: 100%;
    height: 100%;
    background-color: rgba(224, 195, 61, 0.5);
}

.banner1>.bank {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.ejecutiva3 {
    width: 480px;
}

.ejecutiva3 img {
    width: 100%;
}

.conte1 {
    padding: 98px;
    max-width: 480px;
}

.conte1 h1 {
    padding-bottom: 35px;
    font-size: 53px;
    text-shadow: 3px 3px 7px black;
    text-align: left;
}

.conte1 p {
    font-size: 24px;
    text-align: left;
}

/*Banner 2*/

.banner2 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #E4508A;
    color: white;
}

.bank2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.fotoportada {
    width: 100%;
    max-width: 600px;
}

.fotoportada img {
    width: 100%;
    padding: 0;
}

.conte2 h2:nth-child(1) {
    font-size: 52px;
    text-shadow: 3px 3px 7px black;
    text-align: left;
}

.conte2 h2 {
    padding: 66px;
    margin: 0;

}

.conte2 p {
    font-size: 24px;
    text-align: center;
    padding-bottom: 10px;
}

.conte2 {
    max-width: 480px;
}

.conte2 img {
    width: 234px;
    display: block;
    margin: 0px auto;
}

/*Sobre Mí*/

.sobremi {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #E0C33D;
}

.sobrmi h2 {
    width: 300px;
    font-size: 52px;
    color: white;
    text-shadow: 3px 3px 7px white;
    background-color: #E4508A;
    border-radius: 8px;
    text-align: center;
    margin: auto;
}

.ejecutiva1 img {
    padding-top: 60px;
    max-width: 380px;
    width: 100%;
}

.sobrmi {
    padding-top: 40px;
}

.sobrmi {
    width: 600px;
}

.sobrmi>p {
    padding-top: 40px;
    padding-bottom: 42px;
    font-size: 24px;
    text-align: center;
    color: #616060;
}

.sobremi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.sobrmi {
    padding-right: 100px;
}

/*Fin Sobre Mí*/

/*Trabaja Conmigo*/

.trabajaconmigo {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: white;
}

.trabmigo h2 {
    width: 500px;
    height: 70px;
    font-size: 52px;
    color: #616060;
    text-shadow: 3px 3px 7px grey;
    background-color: #E0C33D;
    border-radius: 8px;
    text-align: center;
    margin: auto;
}

.trabmigo {
    padding: 43px;
}

.tabamigo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.ejecutiva2 {
    padding-top: 60px;
    max-width: 380px;
    width: 100%;
}

.form {
    padding: 42px;
    margin: auto;
    align-items: center;
}

.botntaba p {
    width: 174px;
    height: 50px;
    background-color: #E0C33D;
    color: white;
    border-radius: 24px;
    text-align: center;
    margin: auto;
    padding: 15px;
    cursor: pointer;
}

.botntaba a {
    text-decoration: none;
}

.botntaba p:hover {
    color: #E0C33D;
    background-color: grey;
}

.form p {
    width: 174px;
    height: 50px;
    background-color: #E0C33D;
    color: white;
    border-radius: 24px;
    text-align: center;
    margin: auto;
    padding: 7px;
    cursor: pointer;
}

.form a {
    text-decoration: none;
}

.form p:hover {
    color: #E0C33D;
    background-color: grey;
}

.form h6 {
    text-align: center;
    display: flex;
}

/*Fin Trabaja Conmigo*/

/*Blog*/

.blog {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #E4508A;
    color: white;
}

.imgbl1 img {
    width: 100%;
    display: block;
    margin: 0px auto;
}

.imgbl2 img {
    width: 100%;
    display: block;
    margin: 0px auto;
}

.imgbl3 img {
    width: 100%;
    display: block;
    margin: 0px auto;
}

.blogg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.blogs h2 {
    padding-top: 38px;
    margin: auto;
    text-align: center;
    font-size: 56px;
    text-shadow: 3px 3px 7px white;
}

.blogs h3 {
    margin: auto;
    text-align: center;
    padding-bottom: 58px;
    font-size: 36px;
}

.blog1 {
    width: 360px;
    padding: 0 26px;
    text-align: center;
}

.blog2 {
    width: 360px;
    padding: 0 26px;
    text-align: center;
}

.blog3 {
    width: 360px;
    padding: 0 26px;
    text-align: center;
}

.blogs {
    padding-bottom: 30px;
}

.texbl1>h6 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.texbl1>h4 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.texbl1>button {
    padding-top: 15px;
    padding-bottom: 4px;
}

.texbl1>a {
    text-decoration: none;
    padding: 10px;
}

.texbl2>h6 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.texbl2>h4 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.texbl2>p {
    padding-top: 4px;
    padding-bottom: 4px;
}

.texbl2>a {
    text-decoration: none;
    padding: 10px;
}

.texbl3>h6 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.texbl3>h4 {
    padding-top: 4px;
    padding-bottom: 4px;
}

.texbl3>p {
    padding-top: 4px;
    padding-bottom: 4px;
}

.texbl3>a {
    text-decoration: none;
    padding: 20px;
}

.texbl3 p {
    width: 174px;
    height: 50px;
    background-color: white;
    color: #E4508A;
    border-radius: 24px;
    text-align: center;
    margin: auto;
    padding: 15px;
    cursor: pointer;
}

.texbl2 p {
    width: 174px;
    height: 50px;
    background-color: white;
    color: #E4508A;
    border-radius: 24px;
    text-align: center;
    margin: auto;
    padding: 15px;
    cursor: pointer;
}

.texbl1 p {
    width: 174px;
    height: 50px;
    background-color: white;
    color: #E4508A;
    border-radius: 24px;
    text-align: center;
    margin: auto;
    padding: 15px;
    cursor: pointer;
}

.texbl1 p:hover {
    color: #616060;
    background-color: #E0C33D;
}

.texbl2 p:hover {
    color: #616060;
    background-color: #E0C33D;
}

.texbl3 p:hover {
    color: #616060;
    background-color: #E0C33D;
}

/*Fin Blog*/

/*Ubicación*/

.ubication {
    width: 100%;
    height: 740px;
    margin: auto;
}

/*Ubicación*/